<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>KIA ANALYZE</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/skel.min.js"></script>
    <script src="../static/js/skel-layers.min.js"></script>
    <script src="../static/js/init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        #carSelection {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            align-items: center;
        }
        #carSelection label {
            display: flex;
            align-items: center;
            margin-right: 10px; /* 각 체크박스 사이의 간격 */
            margin-bottom: 10px; /* 각 체크박스의 아래쪽 간격 */
        }
        #carSelection input[type="checkbox"] {
            margin-right: 5px; /* 텍스트와 체크박스 사이의 간격 */
        }
    </style>
</head>
<body>
    <header id="header">
        <a href="/home" target="/home"><img src="../static/images/KIALOGO01.png" style="border:0; margin-left: 20px"></a>
        <nav id="nav">
            <ul>
                <li><a href="/survey">추천 차량 찾기</a></li>
                <li><a href="/analyze">판매량 예측</a></li>
                <li><a href="/cars">차량 목록</a></li>
            </ul>
        </nav>
    </header>
    <section id="main" class="wrapper">
        <div class="container">
            <div>
                <h3>차량 선택:</h3>
                <form id="carSelection">
                    <!-- 차량 목록 -->
                </form>
                <div>
                    <h3>엑셀 파일 업로드:</h3>
                    <input type="file" id="fileInput" name="file">
                    <button id="uploadButton">Upload and Predict</button>
                </div>
            </div>
            <canvas id="salesChart" width="800" height="400"></canvas>
        </div>
    </section>
    <div class="table-responsive">
        <table id="predictionTable" class="table table-striped">
            <thead>
                <tr>
                    <th>년월</th>
                    <th>차종</th>
                    <th>예측 판매량</th>
                </tr>
            </thead>
            <tbody>
                <!-- 예측 결과가 여기에 추가될 것입니다 -->
            </tbody>
        </table>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="column">
                <section class="4u 6u(medium) 12u$(small)">
                    <h3>Official KIA</h3>
                    <ul class="horizontal-list">
                        <li><a href="https://www.kia.com/kr">KIA - Movement that inspires</a></li>
                        <li><a href="https://members.kia.com/kr/view/kindex.do">KIA Members</a></li>
                        <li><a href="https://developers.kia.com/web/v1/kia/main">KIA Developers</a></li>
                    </ul>
                </section>
            </div><br><br>
            <div class="alt" style="display: flex;">
                <section class="info1">
                    <h3>Jungbu Info1</h3>
                    <ul class="icons">
                        <li><a href="https://www.joongbu.ac.kr/" class="icon rounded fa-home"><span class="label">Home</span></a></li>
                        <li><a href="https://www.youtube.com/channel/UCtG9dUbDsAnuQIqBEuxAdnA" class="icon rounded fa-youtube-play"><span class="label">Youtube</span></a></li>
                        <li><a href="https://www.instagram.com/joongbuuniv/?hl=ko" class="icon rounded fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="https://www.facebook.com/joongbuuniversity/?locale=ko_KR" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
                    </ul>
                </section>
                <section class="info2">
                    <h3>Jungbu Info2</h3>
                    <ul class="horizontal-list">
                        <li>
                            <h3>Mail</h3>
                            <a href="#">**********@jamil.ac.kr</a>
                        </li>
                        <li>
                            <h3>Phone</h3>
                            010-****-****</li>
                    </ul>
                </section>
            </div>
        </div>
    </footer>
    <script src="../static/js/checkBox.js"></script>
</body>
</html>
