<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
	<title>KIA List</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
	<!--[if lte IE 8]>
	<script src="../static/css/ie/html5shiv.js"></script>
	<![endif]-->
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/skel.min.js"></script>
	<script src="../static/js/skel-layers.min.js"></script>
	<script src="../static/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="../static/css/skel.css">
		<link rel="stylesheet" href="../static/css/generic_style.css">
		<link rel="stylesheet" href="../static/css/style-xlarge.css">
	</noscript>
	<link rel="stylesheet" href="../static/css/style.css"><!--[if lte IE 8]>
	<link rel="stylesheet" href="../static/css/ie/v8.css"/><![endif]-->
</head>

<body>
		<!-- Header -->
			<header id="header">
				<a href="/home" target="/home"><img src="../static/images/KIALOGO01.png" style="border:0; margin-left: 20px"></a>
				<nav id="nav"><ul>
						<li><a href="/survey">추천 차량 찾기</a></li>
						<li><a href="/cars">차량 목록</a></li>
					</ul></nav></header><!-- Main --><section id="main" class="wrapper"><div class="container">

					<header class="major"><h2>차량 목록</h2>
						<p>이미지를 누르면 공식 사이트로 이동합니다.</p>
					</header>
				<div class="car-container">
				  <!-- Car 1 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/morning/features">
					  <img src="../static/images/cars/Morning.png" alt="모닝">
					</a>
					<div class="car-name">모닝</div>
				  </div>

				  <!-- Car 2 -->
					<div class="car">
					<a href="https://www.kia.com/kr/vehicles/ray/features">
					  <img src="../static/images/cars/Ray.png" alt="레이">
					</a>
					<div class="car-name">레이</div>
				  </div>

				  <!-- Car 3 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/k3/features">
					  <img src="../static/images/cars/K3.png" alt="K3">
					</a>
					<div class="car-name">K3</div>
				  </div>

				  <!-- Car 4 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/k3-gt/features">
					  <img src="../static/images/cars/K3-gt.png" alt="K3 GT">
					</a>
					<div class="car-name">K3 GT</div>
				  </div>

				  <!-- Car 5 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/k5/features">
					  <img src="../static/images/cars/K5.png" alt="K5">
					</a>
					<div class="car-name">K5</div>
				  </div>

				  <!-- Car 6 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/k8/features">
					  <img src="../static/images/cars/K8.png" alt="K8">
					</a>
					<div class="car-name">K8</div>
				  </div>

				  <!-- Car 7 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/k9/features">
					  <img src="../static/images/cars/K9.png" alt="K9">
					</a>
					<div class="car-name">K9</div>
				  </div>

				  <!-- Car 8 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/seltos/features">
					  <img src="../static/images/cars/Seltos.png" alt="셀토스">
					</a>
					<div class="car-name">셀토스</div>
				  </div>

				  <!-- Car 9 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/niro/features">
					  <img src="../static/images/cars/Niro-hybrid.png" alt="니로">
					</a>
					<div class="car-name">니로</div>
				  </div>

				  <!-- Car 10 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/sportage/features">
					  <img src="../static/images/cars/Sportage.png" alt="스포티지">
					</a>
					<div class="car-name">스포티지</div>
				  </div>

				  <!-- Car 11 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/sorento/features">
					  <img src="../static/images/cars/Sorento.png" alt="쏘렌토">
					</a>
					<div class="car-name">쏘렌토</div>
				  </div>

				  <!-- Car 12 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/mohave/features">
					  <img src="../static/images/cars/Mohave.png" alt="모하비">
					</a>
					<div class="car-name">모하비</div>
				  </div>

				  <!-- Car 13 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/carnival/features">
					  <img src="../static/images/cars/Carnival.png" alt="카니발">
					</a>
					<div class="car-name">카니발</div>
				  </div>

				  <!-- Car 14 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/carnival-hi-limousine/features">
					  <img src="../static/images/cars/Carnival-hi-limousine.png" alt="카니발 하이리무진">
					</a>
					<div class="car-name">카니발 하이리무진</div>
				  </div>

				  <!-- Car 15 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/ray-ev/features">
					  <img src="../static/images/cars/Ray-ev.png" alt="레이 EV">
					</a>
					<div class="car-name">레이 EV</div>
				  </div>

				  <!-- Car 16 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/niro-ev/features">
					  <img src="../static/images/cars/Niro-ev.png" alt="니로 EV">
					</a>
					<div class="car-name">니로 EV</div>
				  </div>

				  <!-- Car 17 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/niro-plus/features">
					  <img src="../static/images/cars/Niro-plus.png" alt="니로 플러스">
					</a>
					<div class="car-name">니로 플러스</div>
				  </div>

				  <!-- Car 18 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/ev6/features">
					  <img src="../static/images/cars/Ev6.png" alt="EV6">
					</a>
					<div class="car-name">EV6</div>
				  </div>

				  <!-- Car 19 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/ev6-gt/features">
					  <img src="../static/images/cars/Ev6-gt.png" alt="EV6 GT">
					</a>
					<div class="car-name">EV6 GT</div>
				  </div>

				  <!-- Car 20 -->
				  <div class="car">
					<a href="https://www.kia.com/kr/vehicles/ev9/features">
					  <img src="../static/images/cars/Ev9.png" alt="EV9">
					</a>
					<div class="car-name">EV9</div>
				  </div>


				</div><footer id="footer"><div class="container">
					<div class="column">
						<section class="4u 6u(medium) 12u$(small)"><h3>Official KIA</h3>
							<ul class="horizontal-list">
								<li><a href="https://www.kia.com/kr">KIA - Movement that inspires</a></li>
								<li><a href="https://members.kia.com/kr/view/kindex.do">KIA Members</a></li>
								<li><a href="https://developers.kia.com/web/v1/kia/main">KIA Developers</a></li>
							</ul></section></div><br><br>
					<div class="alt" style="display: flex;">
						<section class="info1"><h3>Jungbu Info1</h3>
							<ul class="icons">
								<li><a href="https://www.joongbu.ac.kr/" class="icon rounded fa-home"><span class="label">Home</span></a></li>
								<li><a href="https://www.youtube.com/channel/UCtG9dUbDsAnuQIqBEuxAdnA" class="icon rounded fa-youtube-play"><span class="label">Youtube</span></a></li>
								<li><a href="https://www.instagram.com/joongbuuniv/?hl=ko" class="icon rounded fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://www.facebook.com/joongbuuniversity/?locale=ko_KR" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
							</ul></section>
						<section class="info2"><h3>Jungbu Info2</h3>
							<ul class="horizontal-list">
								<li>
									<h3>Mail</h3>
									<a href="#">**********@jamil.ac.kr</a>
								</li>
								<li>
									<h3>Phone</h3>
									010-****-****
								</li>
							</ul></section></div>
				</div>
			</footer><div class="copyright">
		</div>

	</body></html>
