<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
	<title>KIA LOGIN</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
	<!--[if lte IE 8]>
	<script src="../static/css/ie/html5shiv.js"></script>
	<![endif]-->
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/skel.min.js"></script>
	<script src="../static/js/skel-layers.min.js"></script>
	<script src="../static/js/init.js"></script>
	<noscript>
			<link rel="stylesheet" href="../static/css/skel.css">
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="../static/css/style-xlarge.css">
	</noscript>
	<link rel="stylesheet" href="../static/css/style.css"><!--[if lte IE 8]>
	<link rel="stylesheet" href="../static/css/ie/v8.css"/><![endif]-->
</head>

<body>
		<!-- Header -->
			<header id="header">
				<a href="/home" target="/home"><img src="../static/images/KIALOGO01.png" style="border:0; margin-left: 20px"></a>
				<nav id="nav"><ul>
						<li><a href="/cars">차량목록</a></li>
						<li><a href="/login">로그인</a></li>
					</ul></nav></header><!-- Main --><section id="main" class="wrapper"><div class="container">

					<div class="login-wrapper">
					  <div class="login-form">
						<h2>Login</h2>
						<form>
						  <div class="form-group">
							<input type="text" id="username" placeholder="Username" required>
						  </div>
						  <div class="form-group">
							<input type="password" id="password" placeholder="Password" required>
						  </div>
						  <div class="form-group actions">
							<a class="button-signup">Log In</a>
							<a href="signup.html" class="button-signup">Sign Up</a>
						  </div>
						</form>
					  </div>
					</div>

				<footer id="footer"><div class="container">
					<div class="column">
						<section class="4u 6u(medium) 12u$(small)"><h3>Official KIA</h3>
							<ul class="horizontal-list">
								<li><a href="https://www.kia.com/kr">KIA - Movement that inspires</a></li>
								<li><a href="https://members.kia.com/kr/view/kindex.do">KIA Members</a></li>
								<li><a href="https://developers.kia.com/web/v1/kia/main">KIA Developers</a></li>
							</ul></section></div><br><br>
					<div class="alt" style="display: flex;">
						<section class="info1"><h3>Jungbu Info1</h3>
							<ul class="icons">
								<li><a href="https://www.joongbu.ac.kr/" class="icon rounded fa-home"><span class="label">Home</span></a></li>
								<li><a href="https://www.youtube.com/channel/UCtG9dUbDsAnuQIqBEuxAdnA" class="icon rounded fa-youtube-play"><span class="label">Youtube</span></a></li>
								<li><a href="https://www.instagram.com/joongbuuniv/?hl=ko" class="icon rounded fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://www.facebook.com/joongbuuniversity/?locale=ko_KR" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
							</ul></section>
						<section class="info2"><h3>Jungbu Info2</h3>
							<ul class="horizontal-list">
								<li>
									<h3>Mail</h3>
									<a href="#">**********@jamil.ac.kr</a>
								</li>
								<li>
									<h3>Phone</h3>
									010-****-****
								</li>
							</ul></section></div>
				</div>
			</footer><div class="copyright">
		</div>

	</body></html>
